<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Howdy!</title>
    </head>
    <body>
        <h1>Welcome to the about page</h1>
    <p>
       I am a third year Software Development Student. I am passionate in technology, i enjoy
       finding solutions to daily problems and challenges. I have studied different programming
       languages including Python, Java, C++, HTML, CSS and JavaScript. I would like to know more 
       about Django since am already conversant with Python and i would like to create more web
       applications.


    </p>
    <a href="/">Go back home</a>
    </body>
</html>